.titulo {
    font-size: 3rem;
    text-align: center;
    font-family: helvetica;
    color: #111111; 
    margin-top: 2rem;
    margin-bottom: 2rem;
} 
.grupoimagenesyvideo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.MiPaginaWeboporlomenosunintento {
margin-top: 1rem;
margin-bottom: 1rem;
    text-align: center; 
    font-size: o.5 rem; 
    color:#111111;
    font-family: helvetica;
}
body {
    background-color: #cfa7a7;
    margin: 20px;
    box-sizing: border-box;
}
.menu {
    position: fixed; 
    top: 0; 
    font-family: helvetica;
    align-items: center;
    left: 0;
    width: 100%; 
    background-color: #333; 
    padding: 10px 0; 
    z-index: 1000; 
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /
    justify-content: center; 
}

.menu li {
    margin: 0 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    transition: background 0.3s; 
}

.menu a:hover {
    background-color: #555; 
    border-radius: 5px; 
}